STRIPE_SECRET_KEY=sk_test_51xxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxx
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51xxxxxxxxxxxxxxxx
NEXT_PUBLIC_STRIPE_PRICE_CC_6=price_1ScY8hLQ8jTGr6oEsLWSjP2L
NEXT_PUBLIC_STRIPE_PRICE_CC_12=price_1ScY8lLQ8jTGr6oEM9xL8Avw
NEXT_PUBLIC_STRIPE_PRICE_BC_6=price_1ScY8mLQ8jTGr6oEnGzkMAB9
NEXT_PUBLIC_STRIPE_PRICE_BC_12=price_1ScY8pLQ8jTGr6oEh0CMVZIp
NEXT_PUBLIC_STRIPE_PRICE_HH_6=price_1ScY8qLQ8jTGr6oE6hZirmoI
NEXT_PUBLIC_STRIPE_PRICE_HH_12=price_1ScY8sLQ8jTGr6oE6ETP1gvo
NEXT_PUBLIC_STRIPE_PRICE_CC_CDP=price_1ScY8tLQ8jTGr6oEIpKfiupZ
NEXT_PUBLIC_STRIPE_PRICE_CC_CDQ=price_1ScY8uLQ8jTGr6oE8PO6bNen
NEXT_PUBLIC_SUPABASE_URL=https://zhnepbypmyljuagyysdv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-key
SUPABASE_SECRET_KEY=your-secret-key